doctype
html
	head
		title Wack-A-Mole
		link(rel='stylesheet', href='/main.css')
	body
		h1 Wack-A-Mole
		.test
			table
				tr
					td
					td
					td
				tr
					td
					td
					td
		script(src='/main.js')

